@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* var(--netflix-color); */
html {
  width: 100vw;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgba(11, 8, 4, 0.88);
  color: white;
}

.middle {
  width: 100vw;
  height: 92.5vh;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.9) 60%), url("images/background-home-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
}
.middle .header {
  position: relative;
  top: 0;
  width: 100%;
  height: 4rem;
}
.middle .header img {
  position: absolute;
  left: 10rem;
  max-width: 12rem;
}
.middle .header button {
  position: absolute;
  right: 11.5rem;
  top: 1.5rem;
  width: 4.5rem;
  height: 2rem;
  color: #ffffff;
  background-color: rgb(229, 9, 20);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.middle button:hover {
  background-color: rgba(229, 9, 20, 0.9);
}
.middle .center-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.middle .center-items .intro {
  line-height: 4rem;
  /*  intro of the page (unlimited movies . . . .)  */
}
.middle .center-items .intro h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-weight: 1000;
}
.middle .center-items .intro h4 {
  font-size: 1.4rem;
  font-weight: 600;
}
.middle .center-items .form-items {
  line-height: 3rem;
}
.middle .center-items .form-items h3 {
  font-size: 1.2rem;
}
.middle .center-items .form-items input[type=email] {
  width: 25rem;
  height: 3.6rem;
  margin: 0.2rem;
  padding: 1rem;
  background-color: rgba(29, 29, 30, 0.6);
  color: #ffffff;
  border: none;
  outline: 0.001rem solid;
  border-radius: 4px;
}
.middle .center-items .form-items input[type=email]:active {
  border: 2px solid #ff0000;
  outline: 2px solid #ffffff;
  opacity: 1;
}
.middle .center-items .form-items input[type=email]::-moz-placeholder {
  font-size: 1.2rem;
}
.middle .center-items .form-items input[type=email]::placeholder {
  font-size: 1.2rem;
}
.middle .center-items .form-items button {
  width: 15rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.4rem;
  background-color: rgb(229, 9, 20);
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
}
.middle .center-items .form-items button:hover {
  background-color: rgba(229, 9, 20, 0.9);
}

.mainBox .box {
  max-width: 100%;
  height: 80vh;
  background-color: #000000;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBox .box .box-1,
.mainBox .box .box-2,
.mainBox .box .box-3,
.mainBox .box .box-4 {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mainBox .box .box-1 .contents-1 h1,
.mainBox .box .box-1 .contents-2 h1,
.mainBox .box .box-1 .contents-3 h1,
.mainBox .box .box-1 .contents-4 h1,
.mainBox .box .box-2 .contents-1 h1,
.mainBox .box .box-2 .contents-2 h1,
.mainBox .box .box-2 .contents-3 h1,
.mainBox .box .box-2 .contents-4 h1,
.mainBox .box .box-3 .contents-1 h1,
.mainBox .box .box-3 .contents-2 h1,
.mainBox .box .box-3 .contents-3 h1,
.mainBox .box .box-3 .contents-4 h1,
.mainBox .box .box-4 .contents-1 h1,
.mainBox .box .box-4 .contents-2 h1,
.mainBox .box .box-4 .contents-3 h1,
.mainBox .box .box-4 .contents-4 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-weight: 1000;
}
.mainBox .box .box-1 .contents-1 p,
.mainBox .box .box-1 .contents-2 p,
.mainBox .box .box-1 .contents-3 p,
.mainBox .box .box-1 .contents-4 p,
.mainBox .box .box-2 .contents-1 p,
.mainBox .box .box-2 .contents-2 p,
.mainBox .box .box-2 .contents-3 p,
.mainBox .box .box-2 .contents-4 p,
.mainBox .box .box-3 .contents-1 p,
.mainBox .box .box-3 .contents-2 p,
.mainBox .box .box-3 .contents-3 p,
.mainBox .box .box-3 .contents-4 p,
.mainBox .box .box-4 .contents-1 p,
.mainBox .box .box-4 .contents-2 p,
.mainBox .box .box-4 .contents-3 p,
.mainBox .box .box-4 .contents-4 p {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.mainBox .box .box-1 img,
.mainBox .box .box-2 img,
.mainBox .box .box-3 img,
.mainBox .box .box-4 img {
  width: 90%;
  border-radius: 10px;
}

.FAQ {
  max-width: 100%;
  height: auto;
  background-color: #000000;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FAQ h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.1rem;
  font-weight: 1000;
  margin: 50px 20px 10px 20px;
}
.FAQ .plus {
  width: 75%;
  height: auto;
  margin-top: 8px;
  transition-duration: 0.5s;
}
.FAQ .plus h3 {
  height: 5rem;
  padding: 2rem;
  font-size: 1.6rem;
  background-color: rgb(45, 45, 45);
  margin-top: 1px;
}
.FAQ .plus h3:hover {
  background-color: rgb(71, 70, 70);
}
.FAQ .plus-1 p, .FAQ .plus-3 p, .FAQ .plus-6 p {
  height: 12rem;
  margin-top: 1px;
  background-color: rgb(45, 45, 45);
  padding: 14px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  display: none;
}
.FAQ .plus-2 p, .FAQ .plus-4 p, .FAQ .plus-5 p {
  height: 7rem;
  margin-top: 1px;
  background-color: rgb(45, 45, 45);
  padding: 20px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  display: none;
}
.FAQ .form-items {
  line-height: 3rem;
  margin-top: 2rem;
}
.FAQ .form-items h3 {
  font-size: 1.2rem;
}
.FAQ .form-items input[type=email] {
  width: 25rem;
  height: 3.6rem;
  margin: 0.2rem;
  padding: 1rem;
  background-color: rgba(29, 29, 30, 0.6);
  color: #ffffff;
  border: none;
  outline: 0.001rem solid;
  border-radius: 4px;
}
.FAQ .form-items input[type=email]:active {
  border: 2px solid #ff0000;
  outline: 2px solid #ffffff;
  opacity: 1;
}
.FAQ .form-items input[type=email]::-moz-placeholder {
  font-size: 1.2rem;
}
.FAQ .form-items input[type=email]::placeholder {
  font-size: 1.2rem;
}
.FAQ .form-items button {
  width: 15rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.4rem;
  background-color: rgb(229, 9, 20);
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 5rem;
}
.FAQ .form-items button:hover {
  background-color: rgba(229, 9, 20, 0.9);
}

footer {
  max-width: 100vw;
  height: 50vh;
  margin-top: 10px;
  background-color: #000000;
}
footer .ques {
  position: relative;
  top: 3rem;
  left: 13rem;
}
footer .ques a {
  color: rgb(169, 169, 161);
  font-size: 1rem;
}
footer .footer {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer .info-1, footer .footer .info-2, footer .footer .info-3, footer .footer .info-4 {
  display: flex;
  flex-direction: column;
  margin: 0 6rem;
}
footer .footer .info-1 a, footer .footer .info-2 a, footer .footer .info-3 a, footer .footer .info-4 a {
  text-decoration: underline;
  color: rgb(169, 169, 161);
  font-size: 14px;
  padding: 1rem;
}
footer .footer .info-1 button {
  outline: 2px solid #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
  padding: 8px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .middle .header img {
    left: 0rem;
    max-width: 0.5rem;
  }
  .middle .header button {
    right: 1rem;
  }
}
/*imported css from responsive.scss to make the page responsive for different devices *//*# sourceMappingURL=style.css.map */